.container {
  max-width: 100px;
  margin: 10px;
  color: black;
  margin-top: 100px;
  padding-left: 200px;
}
.register {
  margin-top: 30px;
  padding-bottom: 5px;
  font-size: 30px;
}
.namee {
  margin-top: 20px;
  width: 300px;
  // padding-bottom: 5px;
}
.emaill {
  margin-top: 30px;
  width: 300px;
}
.pass {
  margin-top: 30px;
  width: 300px;
}
.usernamee {
  margin-top: 30px;
  width: 300px;
}
.btn {
  margin-top: 30px;
  width: 300px;
}
