<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="sidebarInfo">
      <h2>BitwiseIndustries</h2>
    </div>
  </div>
  <div class="icons">
    <mat-icon class="icon">chat-icon</mat-icon>
    <p>ALL DMs</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">alternate_email</mat-icon>
    <p>Mentions & reactions</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">bookmark_border</mat-icon>
    <p>Saved items</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">more_vert</mat-icon>
    <p>More</p>
  </div>

  <div class="icons">
    <mat-icon class="icon">arrow_drop_down</mat-icon>
    <p>Channels</p>
  </div>

  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>bitwisebirthdays</p>
  </div>

  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>bw-team-activities</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>bw-team-metting</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>fortnerf</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>general</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>meanstack-apparentices</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">#</mat-icon>
    <p>social-meadia-folder</p>
  </div>
  <div class="icons">
    <mat-icon class="icon">add_box</mat-icon>
    <p>Add-channels</p>
  </div>

  <div class="icons">
    <mat-icon class="icon">arrow_drop_down</mat-icon>
    <p>Direct Messages</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Mekdes</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Saba</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Lee</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Aman</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Sirisha</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Gichale</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Bryce</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Jhon</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Chazz</p>
  </div>
  <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Angle</p>
  </div>
  <!-- <div class="icons">
    <mat-icon class="record1">fiber_manual_record</mat-icon>
    <p>Vinson</p>
  </div> -->
</div>
