.row {
  padding-left: 200px;
}

.container1 {
  padding-bottom: 200px;
  display: inline;
}
.slid {
  background-color: darkmagenta;
  color: aliceblue;
  //   border-right: 11px;
}
.container {
  display: flex;
}
