.main-container {
  justify-content: left;
  align-items: left;
  // width: 100vw;
}
.slack {
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  // h2 {
  //   margin: 0.5em auto;
  //   color: #fff;
  //   text-align: center;
  //   margin-top: 65px;
  // }
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.message-box {
  float: left;
  border-radius: 0.2em;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.row3 {
  margin-top: 250px;
  display: flex;
}
