<div class="container">
  <div>
    <app-header></app-header>
  </div>

  <!-- <div>
    <app-sidebar></app-sidebar>
  </div> -->

  <div class="slack">
    <h2>Chat-Room</h2>
    <hr />
    <div class="form-group">
      <h2>Username</h2>
      <input
        type="text"
        [(ngModel)]="user"
        class="form-control"
        id="username"
        placeholder="Enter username"
      />
    </div>
    <hr />
    <div class="message-box">
      <button type="button" class="btn btn-primary" (click)="join()">
        Join
      </button>
      <button type="button" class="btn btn-default" (click)="leave()">
        Leave
      </button>
    </div>

    <div class="row">
      {{ messageArray }}
      <div *ngFor="let item of messageArray">
        <span
          ><strong>{{ item.user }} : </strong> {{ item.message }}</span
        >
      </div>
    </div>

    <div class="row3">
      <input type="text" class="form-control" [(ngModel)]="messageText" />

      <div class="send">
        <button
          type="button"
          class="btn btn-success pull-right"
          (click)="sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
